* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;


}


/* Header et menu ===> lien de navigation */

header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    z-index: 200;
}

header>nav {
    display: flex;
}

header>nav>img {
    margin-right: 75px;
    transform: translateY(2px);
}

header nav>ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}

header nav>ul>li>a {
    color: white;
    list-style: none;
    font-family: ubuntu;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin-right: 5px;

}

header nav>ul>li {
    position: relative;
    list-style: none;
    margin-right: 75px;
    transition: ease 1s;

}

header nav>ul>li:hover {
    text-decoration: underline white;
}

.lienHeader {
    position: absolute;
    left: 0;
    transition: ease 10s;
    background-color: white;
    width: 150px;

    opacity: 0;
    transition: ease 0.5s;
}

.lienHeader>li {
    list-style: none;
    color: grey;
    font-family: ubuntu;
    font-size: 14px;
    font-weight: 500;
    margin: 15px;
    transition: 0.3s ease;

}

header nav>ul>li:hover .lienHeader,
.lienHeader:hover {

    opacity: 1;
    cursor: pointer;
}

header>div:nth-of-type(1)>a:nth-of-type(1) {
    padding: 12px 12px;
    font-family: ubuntu;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    margin: 10px;

}

.lienHeader>li:hover {
    color: black;
    font-size: 16px;
}


/* Premiére section Hero Header */

.headerTitre {
    width: 100%;
    background: linear-gradient(135deg, hsl(13, 100%, 64%) 0%, hsl(353, 100%, 62%) 100%);
    position: relative;
    margin: auto;
    border-radius: 0 0 0 100px;
    z-index: 10;
    overflow: hidden;
}

.headerTitre h1 {
    font-family: ubuntu;
    font-size: 50px;
    color: white;
    font-weight: 300;
    padding-top: 250px;
    margin-bottom: 25px;
    text-align: center;

}

.headerTitre h2 {
    font-family: overpass;
    font-size: 16px;
    color: white;
    font-weight: 100;

    text-align: center;

}

.headerTitre div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 150px;

}

.headerTitre div a,
.button1 {
    padding: 12px 18px;
    font-family: ubuntu;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border: white 1px solid;
    border-radius: 25px;
    margin: 10px;
    transition: ease 0.5s;
}

.button1 {
    color: hsl(353, 100%, 62%);
    background-color: white;
}

.headerTitre div a:nth-of-type(1):hover {
    border-color: hsl(353, 100%, 62%);
    color: white;
    background-color: hsl(353, 100%, 62%);
}

.headerTitre div a:nth-of-type(2) {
    color: white;
}

.headerTitre div a:nth-of-type(2):hover {
    border-color: white;
    color: hsl(353, 100%, 62%);
    background-color: white;
}

.headerTitre img {
    position: absolute;
    left: -400px;
    width: 160%;
    z-index: -2;
    top: -180%;
}

/* Deuxiéme section */

section:nth-of-type(2) {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

section:nth-of-type(2)>h2 {
    font-family: overpass;
    color: hsl(208, 49%, 24%);
    font-weight: 700;
    font-size: 32px;

    letter-spacing: -1px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translatex(-50%);
}

section:nth-of-type(2)>div {
    margin-right: 200px;
}

section:nth-of-type(2)>div h3,
section:nth-of-type(4)>div h3 {
    font-family: overpass;
    color: hsl(208, 49%, 24%);
    font-weight: 700;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: -1px;
    margin-left: 200px;
}

section:nth-of-type(2) div>p,
section:nth-of-type(4) div>p {
    width: 550px;
    color: rgba(0, 0, 0, 0.801);
    font-size: 16px;
    font-family: overpass;
    line-height: 25px;
    margin-left: 200px;
}

section:nth-of-type(2)>img {
    margin: 100px 0 100px 0;

    left: 50%;
    width: 800px;
}

/* Troisiéme section */

section:nth-of-type(3) {
    background-color: hsl(208, 49%, 24%);
    background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-position-x: -300px;
    background-position-y: -1000px;
    background-size: 1600px;
    border-radius: 0 50px 0 50px;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

/* section:nth-of-type(3)>div {
        margin-left: -500px;
    } */

section:nth-of-type(3)>div h3 {
    font-family: overpass;
    color: white;
    font-weight: 700;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: -1px;

}

section:nth-of-type(3) div>p {
    width: 550px;
    color: rgba(255, 255, 255, 0.815);
    font-size: 16px;
    font-family: overpass;
    line-height: 40px;

}


/* 
Quatrième section */

section:nth-of-type(4) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0 100px 0;

}

section:nth-of-type(4) img {

    transform: translateX(-50px);
}

section:nth-of-type(4)>div h3,
section:nth-of-type(4)>div p {
    margin: 0;
}